.cookie-consent-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1422px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  gap: 20px;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.cookie-message {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 36px 36px 36px 0;
  justify-content: space-between;
}

.cookie-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cookie-main-title {
  font-size: 40px;
  font-weight: 900;
}

.cookie-text-description {
  font-size: 20px;
  line-height: 28px;
}

.cookie-buttons {
  display: flex;
  gap: 32px;
}

.cookie-buttons-confirm {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 28px;
  color: #fff;
  background-color: #0d0d0d;
  padding: 16px 48px;
}

.cookie-buttons-cancel {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 28px;
  border: 1px solid #0d0d0d;
  color: #0d0d0d;
  padding: 16px 48px;
}
