h1 {
  text-align: center;
  font-size: 56px;
  margin: 0;
}

.second-h1 {
  color: #fa6f35;
  margin: 0;
}

.bottom-text {
  font-size: 20px;
  padding-top: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
}
