h1 {
    text-align: center;
    font-size: 56px;
    margin: 0;
}
.second-h1 {
    color: #FA6F35;
    margin: 0;
}
.bottom-text {
    font-size: 20px;
    padding-top: 24px;
    margin: 0px 310px 0px 310px;
}