.interests-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 130px 160px 0;
}

.interests-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.interests-title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 8px;
}

.interests-columns {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.interests-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

.interests-icon {
  height: 100px;
}

.interests-item img {
  border-radius: 20px;
  padding: 20px;
}

.interests-item p {
  font-size: 20px;
  line-height: 28px;
  width: 95%;
}
