.sign_up{
    display: flex;
    
}
.sign_up_button{
    width: 185px;
    height: 52px;
    border-radius: 20px;
    border-width: 1px;
    border-color: #0D0D0D;
    background: none;
    padding: 12px 32px 12px 32px;
}
.sign_up_text {
    font-size: 20px;
    margin: 0;
}