.sign_up {
  display: flex;
}
.sign_up_button {
  width: 185px;
  height: 52px;
  border-radius: 20px;
  border: 1px solid #0d0d0d;
  background: none;
  padding: 12px 32px 12px 32px;
}
.sign_up_text {
  font-size: 20px;
  margin: 0;
}
