.proposition-section-wrapper {
  display: flex;
  gap: 32px;
  padding: 130px 160px;
  justify-content: center;
  align-items: end;
}
.daria-pimkina {
  width: 100%;
  height: 637px;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-button-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.proposition-text {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 48px;
}

.proposition-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list-item p {
  font-size: 20px;
}
